<form  class="mt-4" name="container-form" method="POST"  action="/courses/handle-form-actions" >
    <h3>Khóa Học Của Tôi</h3>
    <a href="/me/trash/courses" >thùng rác<img class="icon" src="https://previews.123rf.com/images/faysalfarhan/faysalfarhan1711/faysalfarhan171136559/89577177-recycle-bin-icon-isolated-on-soft-green-round-button-abstract-illustration.jpg" alt=""> {{deletedCount}}</a>


    <table class="table mt-4">

<div class="mt-4 d-flex align-items-center">
  <select class="form-control form-control-sm  checkbox-select-all-option" name="action" required="required">
    <option value="" > hành Động</option>
    <option value="delete" >xoa</option>

  </select>

<button class="btn btn-primary btn-sm check-all-submit-btn" disabled="disabled" >thực hiện</button>


</div>


        <thead>
        <th scope="col" >
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
  <label class="form-check-label" for="checkbox-all">
    Chọn tất cả
  </label>
</div></th>
        <th scope="col" >ID {{{sortable '_id' _sort}}}
</th>

        <th scope="col">tên khóa học
          {{{sortable 'name' _sort}}}
          


        </th>
        <th scope="col"> trình độ
           {{{sortable 'level' _sort}}}
        </th>
        <th scope="col" colspan="2">Thời gian tạo
           {{{sortable 'createdAt' _sort}}}
        </th>
        
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
              <td><div class="form-check">
  <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}" ">
 
</div></td>
                <th scope="row">{{this._id}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>         
                <td>{{this.createdAt}}</td>
                <td>
                     <a href="/courses/{{this._id}}/edit"  class="btn btn-link"> sữa</a>
                     <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal"> Xoá</a>
                </td>


            </tr>
            {{else}}
            <tr  >
              <td colspan="5" class="text-center"> bạn chưa đang ký khóa học nào <a href="/courses/create"> đăng ký khóa học</a> </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>



<div id="delete-course-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> xóa khóa học</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> bạn có chắc muốn xóa </p>
      </div>
      <div class="modal-footer">
                  <button id="btn-delete-course" type="button" class="btn btn-primary"> xóa  thông tin</button>

        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<form name="delete-course-form" method="POST"></form>


<script>
    document.addEventListener('DOMContentLoaded',function(){

      var courseId;
      var deleteForm =document.forms['delete-course-form'];
          var btnDeleteCourse = document.getElementById('btn-delete-course');
//var  containerform =document.forms['container-form'];
var  containerform =$('form[name="container-form"]');

var checkboxAll=$('#checkbox-all');
var courseItemCheckbox =$('input[name="courseIds[]"]');
var checkAllSubmutBtn =$('.check-all-submit-btn');


// when dialog confirm clicked

$('#delete-course-modal').on('show.bs.modal',function(event){
        var button =$(event.relatedTarget);
        courseId=button.data('id');
    
    
    });

    // whe delete course clicked
btnDeleteCourse.onclick =function(){

  deleteForm.action='/courses/'+ courseId+'?_method=DELETE';
  deleteForm.submit();
}
checkboxAll.change(function(){
  var ischeckedAll=$(this).prop('checked');

// canh 1 :courseItemCheckbox.prop('checked',ischeckedAll);  

//canh 2 dung if va else: phia duoi
  if(ischeckedAll){

courseItemCheckbox.prop('checked',true);
  }else{
courseItemCheckbox.prop('checked',false);
  }

  renderCheckAllSubmitBtn();// phan nut hien thi
    });



  //+ course item checboc changed

  courseItemCheckbox.change(function(){
var ischeckedAll=courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
   checkboxAll.prop('checked',ischeckedAll);
renderCheckAllSubmitBtn();// phan nut hien thi



  });
  







  
  // phan nut hien thi
function renderCheckAllSubmitBtn(){
var checkedCount =$('input[name="courseIds[]"]:checked').length;
if(checkedCount >0){
checkAllSubmutBtn.attr('disabled',false);
}else{ checkAllSubmutBtn.attr('disabled',true);}}

//- hien thi nut

    });
</script>