<div class="mt-4">
    <h3>thùng rác<caption></caption></h3>
    
<a href="/me/stored/courses">quay lại khóa học của tôi</a>

    <table class="table mt-4">

        <thead>
        <th scope="col">STT</th>
        <th scope="col">tên khóa học</th>
        <th scope="col"> trình độ</th>
        <th scope="col" colspan="2">Thời gian tạo</th>
        
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>         
                <td>{{this.createdAt}}</td>
                <td>
                     <a href=""  class="btn btn-link btn-restore" data-id="{{this._id}}">khôi phục</a>
                     <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal"> Xoá vĩnh viễn</a>
                </td>


            </tr>
            {{else}}
            <tr  >
              <td colspan="5" class="text-center"> Thùng rác Trống <a href="/courses/create"> về khóa học</a> </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>



<div id="delete-course-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> xóa khóa học</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> bạn có chắc muốn xóa </p>
      </div>
      <div class="modal-footer">
                  <button id="btn-delete-course" type="button" class="btn btn-primary"> xóa  thông tin</button>

        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>



<script>
    document.addEventListener('DOMContentLoaded',function(){

      var courseId;
      var deleteForm =document.forms['delete-course-form'];
        var restoreForm =document.forms['delete-course-form'];
     var btnDeleteCourse = document.getElementById('btn-delete-course');
       var restoreBtn=$('.btn-restore');



// when dialog confirm clicked
$('#delete-course-modal').on('show.bs.modal',function(event){
        var button =$(event.relatedTarget);
        courseId=button.data('id');
    
    
    });

    // whe delete course clicked
btnDeleteCourse.onclick =function(){

  deleteForm.action='/courses/'+ courseId+'/force?_method=DELETE';
  deleteForm.submit();
}
restoreBtn.click(function(e){

e.preventDefault(); // bỏ hành vi mac dinh vào get  vòng 23

 var courseId =$(this).data('id');
 restoreForm.action='/courses/'+ courseId+'/restore?_method=PATCH';
  restoreForm.submit();

})

    });
</script>